@mixin keyframes($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin animation($name, $duration:0, $timing_function:ease, $delay:0s, $iteration_count:1, $direction:normal, $fill_mode:none, $play_state:running) {
    -moz-animation: $name $duration $timing_function $delay $iteration_count $direction $fill_mode $play_state;
    -webkit-animation: $name $duration $timing_function $delay $iteration_count $direction $fill_mode $play_state;
    animation: $name $duration $timing_function $delay $iteration_count $direction $fill_mode $play_state;
}