@use "@/styles/variables";
@use "@/styles/helper";

/*
* ====================================================================
*                           TYPOGRAPHY
* ====================================================================
*  1.  Headings
*  2.  Paragraphs
*  3.  Lists
*  4.  Code
*  5.  Tables
*  6.  Links
*  7.  Blockquotes
*  8.  Horizontal Rules
*  9.  Images
* 10.  Inline Elements
* 11.  Inline Elements (Advanced)
* ====================================================================
*                           FONTS - FAMILY
* ====================================================================
*  1.  Base Font Family: 'Open Sans', sans-serif
*  2.  Heading Font Family: 'Merriweather', serif
*  3.  Code Font Family: 'Source Code Pro', monospace
* ====================================================================
*  1. 
* ====================================================================
*  1. 
*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=Source+Code+Pro&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:
        "Open Sans",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    font-size: 1rem;
    overflow-x: hidden;
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--quaternary);
}

a:hover {
    color: var(--tertiary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif;
}

h1,
.h1 {
    font-size: 3.052rem;
}

h2,
.h2 {
    font-size: 2.441rem;
}

h3,
.h3 {
    font-size: 1.953rem;
}

h4,
.h4 {
    font-size: 1.563rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

#root {
    height: 100vh;
}

code,
.code {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 80%;
    }
}
